stages:
  - formatcheck
  - test
  - coverage
  - build


flake8:
  image: artifactory.internal.com:9999/bfa-pre-built:latest
  stage: formatcheck
  script:
    - flake8 --max-line-length 120
  allow_failure: true

pylint:
  image: artifactory.internal.com:9999/bfa-pre-built:latest
  stage: formatcheck
  script:
    - pylint src/ --max-line-length=120
  allow_failure: true

pytest:
  image: artifactory.internal.com:9999/bfa-pre-built:latest
  stage: test
  script:
    - pytest tests/ -v --tb=short --cov=src --cov-report=term-missing --cov-fail-under=90
  allow_failure: true


build-docker-image:
  stage: build
  image: docker:24-dind
  services:
    - name: docker:24-dind
      command: ["--registry-mirror", "https://artifactory.internal.com:9999/"]
  tags:
    - executor:dind-socket
  variables:
    DOCKER_TLS_CERTDIR: "/certs"
    # Use branch name for tagging instead of commit SHA
    IMAGE_TAG: ${CI_PROJECT_PATH}:${CI_COMMIT_REF_NAME}
    LATEST_TAG: ${CI_PROJECT_PATH}:latest
    ARTIFACTORY_PUSH: "artifactory.internal.com:9999"
  script:
    - export
    - echo "Gitlab Registry ${CI_REGISTRY}"
    - echo $CI_REGISTRY_PASSWORD | docker login -u ${CI_REGISTRY_USER} --password-stdin ${CI_REGISTRY}
    - echo "Building Docker image for branch '${IMAGE_TAG}'"
    - docker build -t "${ARTIFACTORY_PUSH}/${IMAGE_TAG}" -t "${ARTIFACTORY_PUSH}/${LATEST_TAG}" .
    #- docker build -t ${CI_REGISTRY}/${IMAGE_TAG} -t ${CI_REGISTRY}/${LATEST_TAG} .
    - docker login -u "$ARTIFACTORY_USER" -p "${ARTIFACTORY_PASSWORD}" "${ARTIFACTORY_PUSH}"
    - docker push "${ARTIFACTORY_PUSH}/${IMAGE_TAG}"
    #- echo "Pushing image with branch tag ${CI_REGISTRY}/${IMAGE_TAG}"
    #- docker push ${CI_REGISTRY}/${IMAGE_TAG}
    #- docker push ${CI_REGISTRY}/${LATEST_TAG}
    # Only push 'latest' tag from main/master branch
    - |
      if [ "${CI_COMMIT_REF_NAME}" = "main" ] || [ "${CI_COMMIT_REF_NAME}" = "master" ]; then
        echo "Pushing image with latest tag from ${CI_COMMIT_REF_NAME} branch"
        docker push "${ARTIFACTORY_PUSH}/${IMAGE_TAG}"
      else
        echo "Skipping latest tag push (not on main/master branch)"
      fi
  when: on_success  # Only build if tests pass
