[Unit]
Description=GitLab Pipeline Log Extractor Service
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/opt/extract-build-logs
ExecStartPre=-/usr/bin/docker stop bfa-gitlab-pipeline-extractor
ExecStartPre=-/usr/bin/docker rm bfa-gitlab-pipeline-extractor
ExecStart=/usr/bin/docker run -d \
    --name bfa-gitlab-pipeline-extractor \
    --restart unless-stopped \
    -p 8000:8000 \
    -v /opt/extract-build-logs/logs:/app/logs \
    -v /opt/extract-build-logs/.env:/app/.env:ro \
    gitlab-log-extractor:latest
ExecStop=/usr/bin/docker stop bfa-gitlab-pipeline-extractor
ExecStopPost=-/usr/bin/docker rm bfa-gitlab-pipeline-extractor
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
